body{
	margin: 0;
	padding: 0;
}

.flex-container{
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: space-around;
}

.navbar{
	width: 100%;
	font-size: 1em;
	background-color: #46575f;
	position: fixed;
	z-index: 1000;
}

.logo img{
	width: 2.5em;
	height: 2.5em;
	position: absolute;
	top: .75em;	
	left: 5em;
	float: left;
	border-style: solid;
}

.navbar-elements ul li{
	display: inline-block;
	list-style-type: none;
	color: white;
	margin: 0em 1.5em 0em 1.5em;
	font-family: 'Montserrat', sans-serif; 
	position: relative;
	left: 45em;
	font-weight: 600;
	font-size: 1.2em;
}

.landing-title{
	color: white;
	font-family: 'Raleway', serif;
	font-size: 3em;
}

.landing-content{
	color: white;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 400;
	font-size: 1.3em;
	padding: 0em 4em 0em 0em;
}

.flex-container2{
	display: flex;
	justify-content: space-around;
	margin: 10em 0em 0em 0em;
}

.color-mod1{
	position: absolute;
	background-color: #2F66A9;
	width: 100%;
	height: 100%;	
}

.color-mod2{
	position: absolute;
	top: 100%;
	background-color: #E9967A;
	width: 100%;
	height: 100%;
}

.image-mod{
	width: 20em;
	height: 20em;
}

.logo-mod{
	margin: 0em 5em 0em 0em; 
}

.desc-mod{
	padding: 0em 0em 0em 1.3em; 
}

.book{
	position: absolute;
	top: 11em;
	left: 3em;
	width: 15em;
	height: 20em;
	padding-left: 1em;
	padding-right: 1em; 
}

.book img{
	width: 10em;
	height: 13em;
	position: absolute;
	left: 3.5em;
    box-shadow: 8px 10px 8px #696969;
}

.book h3{
	color: black;
	font-family: Verdana;
	position: relative;
	top: 11em;
	text-align: center;
}

.book h5{
	color: black;
	font-family: Verdana;
	position: relative;
	top: 14.5em;
