body{
	margin: 0;
	padding: 0
}

.flex-container{
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: space-around;
}

/* Navigation Bar */
.navbar{
	width: 100%;
	font-size: 1em;
	background-color: #46575f;
	position: fixed;
	z-index: 1000;
}

.logo img{
	width: 8.5em;
	height: 2.5em;
	position: absolute;
	top: .55em;	
	left: 5em;
	float: left;
}

.navbar-elements ul li{
	display: inline-block;
	list-style-type: none;
	color: white;
	margin: 0em 1.5em 0em 1.5em;
	font-family: 'Montserrat', sans-serif; 
	position: relative;
	left: 45em;
	font-weight: 600;
	font-size: 1.05em;
}

.navbar-elements a:link{
	color: white;
	text-decoration: none;
}

.navbar-elements a:visited{
	color: white;
	text-decoration: none;
}

.landing-title{
	color: white;
	font-family: 'Raleway', serif;
	font-size: 3em;
}

.landing-content{
	color: white;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 400;
	font-size: 1.3em;
	padding: 0em 4em 0em 0em;
}

.flex-container2{
	display: flex;
	justify-content: space-around;
	margin: 10em 0em 0em 0em;
}

.color-mod1{
	position: absolute;
	background-color: #2F66A9;
	width: 100%;
	height: 100%;	
}

.color-mod2{
	position: absolute;
	top: 100%;
	background-color: #E9967A;
	width: 100%;
	height: 100%;
}

.image-mod{
	width: 20em;
	height: 20em;
}

.logo-mod{
	margin: 0em 5em 0em 0em; 
}

.desc-mod{
	padding: 0em 0em 0em 3em; 
}

.desc-mod .button a:link{
	color: black;
	text-decoration: none;
}

.desc-mod .button a:visited{
	color: black;
	text-decoration: none;
}

.button{
	background-color: #F0E68C;
	border-style: none;
	padding: 1em 2em;
	text-align: center; 
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

.flex-container3{
	display: flex;
	justify-content: space-around;
	margin: 5em 0em 0em 0em;
}

.h1{
	font-family: 'Montserrat', sans-serif;
}

.book-mod{
	padding: 0em 0em 0em 3em;
	
}

.book{
	display: inline-block;
	width: 12em;
	height: 20em;
	padding-left: 2em; 
	padding-top: 1.3em;
}

.cover-mod{
	width: 10em;
	height: 13em;
	box-shadow: 10px 8px 18px #696969;
}

.book-def{
	font-family: 'Raleway', serif;
	margin: 0;
	padding: 0.5em 0em 0em 0.5em;
}

.book-author{
	font-family: 'Merriweather Sans', serif;
	margin: 0;
	padding: 0.5em 0em 0em 0.5em;
}

.book-author h5{
	padding: 0;
	margin: 0;
}

/* For hover star ratings */
.star-rating__wrap{
	display: inline-block;
	font-size: 1rem;
	padding: 0.5em;
}
.star-rating__wrap:after{
	content: "";
	display: table;
	clear: both;
}
.star-rating__ico{
	float: right;
	padding-left: 2px;
	cursor: pointer;
	color: #000000;
}
.star-rating__ico:last-child{
	padding-left: 0;
}
.star-rating__input{
	display: none;
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
	content: "\f005";
}

/* For static star ratings */
.star-rating{
	margin-left: 0.5em;
	padding-top: 0.5em;
}

.checked{
	color: #D3D3D3;
	border-color: black; 
}

.color-mod3{
	position: absolute;
	top: 200%;
	background-color: #BACD5A;
	width: 100%;
	height: 100%;
}

.feature-mod{
	padding: 0em 0em 0em 10em;
	
}

.feature{
	display: inline-block;
	width: 15em;
	height: 20em;
	padding-left: 4em; 
	padding-top: 1.3em;	
}

.icon-mod{
	width: 6em;
	height: 6em;
	padding-left: 2.5em;
}

.feature-def{
	font-family: 'Raleway', serif;
	margin: 0;
	padding: 1em 0em 0em 1.25em;
}

.add-desc{
	font-family: 'Merriweather Sans', serif;
	margin: 0;
	padding: 1em 0em 0em 0em;
}

.flex-container4{
	display: flex;
	justify-content: space-around;
	margin: 2em 0em 0em 0em;
}

/* Login Pop-Up */
.overlay{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}

.overlay:target{
	visibility: visible;
	opacity: 1;
}

.popup{
	margin-top: 8em;
	margin-left: 35%;
	padding: 2em;
	background-color: white;
	border-radius: 1em;
	width: 25%;
	position: relative;
	transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
  font-weight: bolder;
}	

input[type=text], input[type=password]{
    width: 100%;
    padding: .75em .75em;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
}

.popup .content label{
	text-align: center; 
	font-family: 'Merriweather Sans', sans-serif;
}

.popup .content button{
	background-color: #F0E68C;
	border-style: none;
	margin-top: 2em;
	margin-left: 35%;
	padding: 1em 2em;
	text-align: center; 
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

/* Sign Up */
.signup-mod{
	margin: 0em 10em 3em 10em;
}

.signup-title{
	color: white;
	font-family: 'Raleway', serif;
	text-align: center;
}

.signup-content{
	color: white;
	font-family: 'Merriweather Sans', sans-serif;
	padding: 0em 2em 0em 0em;
}

.signup-content button{
	background-color: #F0E68C;
	border-style: none;
	margin-top: 1em;
	margin-left: 35%;
	padding: 1em 2em;
	text-align: center; 
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}

.signup-content label{
	font-family: 'Merriweather Sans', sans-serif;
	font-size: .90em;
}

.color-mod5{
	position: absolute;
	top: 0;
	background-color: #2F66A9;
	width: 100%;
	height: 110%;
}

.color-mod6{
	position: absolute;
	top: 0;
	background-color: #E9967A;
	width: 100%;
	height: 110%;
}

.color-mod7{
	position: absolute;
	top: 0;
	background-color: #BACD5A;
	width: 100%;
	height: 110%;
}

.book-mod input{
	width: 20%
}

.category{
	border-style: solid;
	width: 10%;
	height: 40%;
	margin: 2em;
	padding-left: 2em;
	float: left;
}

.button1{
	margin-left: 1em;	
	background-color: #F0E68C;
	border-style: none;
	padding: 1em;
	text-align: center; 
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	justify-content: space-around;
}

.footer{
	position: absolute;
	top: 300%;
	background-color: #46575f;
	color: white;
	width: 100%;
	height: 15%;
	font-family: 'Montserrat', sans-serif; 
	font-weight: bold;
}